<div class="container mt-3 p-5">
    <form class="needs-validation " method="POST" action="/login" novalidate>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="container">
          <a href="/"><button class="btn btn-primary" id="login-btn">Login</button></a> 
            <div class="container">
                <br>
                <h6 style="text-align:center;">---------Don't Have an Account?----------</h6>
                <br>
            </div>   
        </div>
    </form>
    <a href="/registeration"><button class="btn btn-primary" id="register-btn">Create Account</button></a>
</div>