nav{
    display: flex;
    justify-content: center;
}
.heading{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.heart{
    font-size:xx-large;
    float: right;
    margin-right: 50%;
}
.table-wrapper{
    margin-top: 4%;
    display: flex;
    align-items: center;
}
table{
    text-align: center;
}
.container-wishlist{
    text-align: center;
}
.log{
    margin-top: 5%;
}
a{
    text-decoration: none;
}
.bi-trash{
    color: black;
}
.book-img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 0 2px 6px #0003;
    float: left;
}
td{
    vertical-align:middle;
}
body {
    height: 100%;
}